.myBtns{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: lightblue;
    color: white;
    text-shadow: 1px 1px 1px black;
}