/*#myH1{
    font-size: 5rem;
}*/

/*#myBtn{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    
}*/

.myBtns{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px
}
.enabled{
    background-color: rgb(42, 197, 236);
    color: white;
}
.hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    font-weight: bold;
}
.disabled{
    background-color: rgb(168, 165, 165);
    color: rgb(104, 69, 69);
}
