#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(44, 76, 218);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(9, 118, 155);
}
button:active{/*Quando clicar muda  a cor do botão*/
    background-color: rgb(9, 72, 155);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#resultadoDado{
    margin: 25px;
}

#imagensDado img{
    width: 150px;
    margin: 5px;
}