body{
    background-image: url(imagens/back1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
    backdrop-filter: blur(5px);/*Desfoca)*/
    background-color: rgba(0, 0, 0, 0.103);
    width: 100%;
    border: 1px solid white;
    border-left: none;
    border-right: none;

    
}



